@import "../../styles/colors.module.scss";

.finish-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;

  &__image {
    position: relative;
    width: 624px;
    height: 367px;
  }

  &__right {
    max-width: 624px;
    display: flex;
    flex-direction: column;
    gap: 64px;

    &-score {
      display: flex;
      flex-direction: column;
      gap: 8px;

      p {
        font-size: 32px;
        color: $black-40;
        font-weight: 600;
      }
    }
  }
}
